<div class="login">
<form class="form-signin">
  <div class="text-center mb-4">
    <img class="mb-4" src="/../assets/images/E4S.png" alt="" width="150" height="150">
    <h1 class="h3 mb-3 font-weight-normal">Authentification</h1>
  </div>
  <div *ngIf="isLogError" class="form-label-group">
    <div class="alert alert-danger" role="alert">Email ou password incorrect</div>

  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Email address" required autofocus>
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" [(ngModel)]="user.password" required>
    <label for="inputPassword">Password</label>
  </div>
  <button class="btn btn-lg btn-secondary btn-block" type="submit" (click)="Onlogin()">Login</button>
</form>
</div>
